APP_NAME: "Go Real World"
APP_PORT: "3000"
APP_LANG: "en"
APP_ENV: "dev"

DB_USER: "root"
DB_PASSWORD: ""
DB_HOST: "localhost"
DB_PORT: "3306"
DB_NAME: "golang"
DB_DRIVER: "mysql"
DB_MAX_CONNECTION: 10
DB_MAX_IDLE_CONNECTION: 10
DB_MAX_LIFE_TIME_CONNECTION: 10
